{% extends 'base.html' %}
{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
    <h1>Summary</h1>
    <p>Low adoption and high misconfiguration rates continue to blunt the security benefits of DNSSEC. In this work, we
        aim to tackle the post-deployment challenges of DNSSEC by offering administrators clear,
        actionable guidance for resolving configuration errors.
        Our approach first utilizes the DNSViz API to extract detailed error analyses,
        which are then processed by our in-house tool, <b>DFixer</b>, to generate precise remediation
        instructions. To ensure the reliability of these instructions, we reproduce the identified errors
        within our controlled environment using another internal tool, <b>ZReplicator</b>, and validate the
        fixes proposed by DFixer.</p>

    <p>Details on how we built DFixer and ZReplicator along with their evaluation and limitations can be found in our paper linked <a href="https://taejoong.github.io/files/publications/ashiq-2025-dnssec.pdf" target="_blank">here</a>.</p>


    <h1>About <a target="_blank" href="https://dnsviz.net/">DNSViz</a></h1>
    <p>DNSViz is a tool commonly used by DNS administrators (also by curious users) for visualizing the status of a DNS zone and its DNSSEC configuration.
    It pinpoints errors and warnings using a comprehensive set of error codes according to the standards.</p>

    <h1>Repository</h1>
    <p>Both ZReplicator and DFixer are open-source. If you want to contribute, please follow the instructions outlined <a target="_blank" href="https://github.com/Ashiq5/dnssec-debugger-code">here</a>.</p>
    </div>
{% endblock %}