{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h2>Analyze a domain</h2>
        <input id="domain" type="text" placeholder="Enter domain"/>
        <button id="submit">Run Analysis</button>

        <div id="status"></div>
    </div>
    <script>
        // todo: email link or somehow save it for later access
        const submitBtn = document.getElementById("submit");
        const statusDiv = document.getElementById("status");
        const resultBox = document.getElementById("result-box");

        function isValidDomain(domain) {
            const pattern = /^(?!-)(?:[a-zA-Z0-9-]{0,62}[a-zA-Z0-9]\.)+[a-zA-Z]{2,}$/;
            return pattern.test(domain.trim());
        }

        // Handle submit
        submitBtn.onclick = async () => {
            const elem = document.getElementById("domain");
            const domain = elem.value.trim();
            if (!isValidDomain(domain)) {
                return alert("Please enter a valid domain name (e.g. example.com)");
            }
            if (!domain) {
                return alert("Enter a domain");
            }
            statusDiv.textContent = "Submitting...";
            const resp = await fetch("/run", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({domain})
            });
            if (!resp.ok) throw new Error("Request failed");
            const data = await resp.json();
            elem.value = "";
            if (data.job_id) {
                const link = `${window.location.origin}/dfixer?job_id=${data.job_id}`;
                statusDiv.innerHTML = `Job queued! <a href="${link}">View result</a>. Please save this link for later access.`;
            } else {
                statusDiv.textContent = "Error submitting job.";
            }
        };
    </script>
{% endblock %}
