<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>DFixer</title>
{#    For some weird reason, jinja2 condition check does not work properly#}
{#    <script>console.log({{ local }});</script>#}
{#    {% if local %}#}
{#        <base href="http://127.0.0.1:8000">#}
{#    {% else %}#}
{#        <base href="https:/dnssec-debugger.netsecurelab.org/">#}
{#    {% endif %}#}
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"/>
    <link rel="icon" type="image/png" alt="DFixer" href="{{ url_for('static', path='images/logo.png') }}?v=1">
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header">
        <div class="container">

            <!-- Logo -->
            {#            <h1 id="logo"><a><img src="{{ url_for('static', path='images/logo.png') }}" width="50"#}
            {#                                  height="50" class="d-inline-block align-text-top"></a></h1>#}
            <p>DFixer is a tool to aid DNS administrators in correcting their DNSSEC misconfigurations.
                It provides clear and actionable guidance for resolving DNSSEC configuration errors.</p>
            <p>Your <a href="mailto:iashiq5@vt.edu,olivier.hureau@univ-grenoble-alpes.fr" target="_blank">feedback</a>
                is appreciated. Please contact us with your analyzed domain if you encounter any errors or believe the output is incorrect.</p>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section>
                        <p>This work has been published and presented at <i>ACM Internet Measurement Conference 2025</i>.
                            Our full paper
                            titled
                            "Decoding DNSSEC Errors at Scale: An Automated DNSSEC Error Resolution Framework using
                            Insights from DNSViz
                            Logs"
                            can be found <a href="https://taejoong.github.io/files/publications/ashiq-2025-dnssec.pdf"
                                            target="_blank">
                                here</a>.</p>
                    </section>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- Scripts -->
<script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='js/jquery.dropotron.min.js') }}"></script>
<script src="{{ url_for('static', path='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', path='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', path='js/util.js') }}"></script>
<script src="{{ url_for('static', path='js/main.js') }}"></script>

</body>
</html>